# Core
streamlit==1.46.0
python-dotenv==1.1.1

# OpenAI + Langchain
openai==1.91.0
langchain==0.3.26
langchain-community==0.3.26
langchain-openai==0.3.25
langsmith==0.4.2

# Vetorização + Embeddings
faiss-cpu==1.11.0
sentence-transformers==4.1.0
tiktoken==0.9.0

# OCR
pytesseract==0.3.13
easyocr==1.7.2
opencv-python-headless==4.11.0.86
pillow==11.2.1

# PDF / DOCX / Logs
PyMuPDF==1.26.1
python-docx==1.2.0
python-magic==0.4.27

# Utilitários
numpy==2.3.1
pandas==2.3.0
requests==2.32.4
regex==2024.11.6
scikit-learn==1.7.0
tenacity==9.1.2
