accelerate
backports.tarfile
black
easyocr
faiss-cpu
importlib-metadata
jaraco.collections
jq
langchain-community
langchain-huggingface
langchain-openai
matplotlib
opencv-python
pymupdf
pytesseract
python-docx
sentence-transformers
st-chat-input-multimodal
tomli
unstructured