streamlit
openai
pytesseract
pillow
opencv-python
langchain
langchain-community
langchain-openai
sentence-transformers
faiss-cpu
tiktoken
pydantic
pydantic-settings
python-dotenv
requests
pypdf
PyMuPDF
unstructured
typing-extensions
